@import "./assets/styles/index.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
    padding-top: 48px;
}
.main{
    padding-top: 20px;
}
// :root {
//     --color: red;
// }

// a {
//     color: var(--color);
// }


.main-wrapper {
    width: 100px;
}